<?php
//*
// SQLite Settings

$adapter="pdo_sqlite";
$host="localhost";

$user="root";
$pass="";

$dbname=__DIR__."/phprbac.sqlite3";
$tablePrefix = "phprbac_";
//*/

/*
// MySQL Settings

$host="localhost";
$adapter="pdo_mysql";

$dbname="phprbac_tests";
$tablePrefix = "phprbac_";

$user="phprbac_tests";
$pass="password_tests";
//*/
