<phpunit bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Core">
            <directory>../src/PhpRbac/core/tests</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="Wrapper">
            <directory>./src</directory>
        </testsuite>
    </testsuites>
</phpunit>
